In [373]:
import numpy as np
import pandas as pd
import re as re
from settings.constants import *
from sklearn.model_selection import train_test_split

In [374]:
full_data = pd.read_csv("data/full_train.csv", header = 0, dtype={'Age': np.float64})
full_data = full_data.fillna('None')
full_data.head()

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,1,60,RL,65,8450,Pave,None,Reg,Lvl,AllPub,...,0,None,None,None,0,2,2008,WD,Normal,208500
1,2,20,RL,80,9600,Pave,None,Reg,Lvl,AllPub,...,0,None,None,None,0,5,2007,WD,Normal,181500
2,3,60,RL,68,11250,Pave,None,IR1,Lvl,AllPub,...,0,None,None,None,0,9,2008,WD,Normal,223500
3,4,70,RL,60,9550,Pave,None,IR1,Lvl,AllPub,...,0,None,None,None,0,2,2006,WD,Abnorml,140000
4,5,60,RL,84,14260,Pave,None,IR1,Lvl,AllPub,...,0,None,None,None,0,12,2008,WD,Normal,250000

In [375]:
t_c = ["MSSubClass","MSZoning",
          "LotFrontage","Neighborhood","HouseStyle","RoofStyle","Exterior1st","MasVnrType",
            "ExterQual","Foundation","BsmtFinSF1","HeatingQC","2ndFlrSF","GrLivArea","BsmtFullBath",
            "KitchenQual","Fireplaces","GarageType","MiscVal",
          "SaleCondition", "SalePrice"]
print(t_c)

['MSSubClass', 'MSZoning', 'LotFrontage', 'Neighborhood', 'HouseStyle', 'RoofStyle', 'Exterior1st', 'MasVnrType', 'ExterQual', 'Foundation', 'BsmtFinSF1', 'HeatingQC', '2ndFlrSF', 'GrLivArea', 'BsmtFullBath', 'KitchenQual', 'Fireplaces', 'GarageType', 'MiscVal', 'SaleCondition', 'SalePrice']

In [376]:
full_data = full_data[t_c]
full_data.head()

,MSSubClass,MSZoning,LotFrontage,Neighborhood,HouseStyle,RoofStyle,Exterior1st,MasVnrType,ExterQual,Foundation,...,HeatingQC,2ndFlrSF,GrLivArea,BsmtFullBath,KitchenQual,Fireplaces,GarageType,MiscVal,SaleCondition,SalePrice
0,60,RL,65,CollgCr,2Story,Gable,VinylSd,BrkFace,Gd,PConc,...,Ex,854,1710,1,Gd,0,Attchd,0,Normal,208500
1,20,RL,80,Veenker,1Story,Gable,MetalSd,None,TA,CBlock,...,Ex,0,1262,0,TA,1,Attchd,0,Normal,181500
2,60,RL,68,CollgCr,2Story,Gable,VinylSd,BrkFace,Gd,PConc,...,Ex,866,1786,1,Gd,1,Attchd,0,Normal,223500
3,70,RL,60,Crawfor,2Story,Gable,Wd Sdng,None,TA,BrkTil,...,Gd,756,1717,1,Gd,1,Detchd,0,Abnorml,140000
4,60,RL,84,NoRidge,2Story,Gable,VinylSd,BrkFace,Gd,PConc,...,Ex,1053,2198,1,Gd,1,Attchd,0,Normal,250000

In [377]:
pd.Series({"0": full_data.columns}).to_json('data.json')

In [378]:
[i for i in val.columns if i not in ["Neighborhood","HouseStyle","RoofStyle","Exterior1st",
                  "MasVnrType","ExterQual","ExterCond","Foundation","HeatingQC","KitchenQual","GarageType"]]

['LotFrontage',
 'BsmtFinSF1',
 '2ndFlrSF',
 'GrLivArea',
 'BsmtFullBath',
 'Fireplaces',
 'MiscVal',
 'SalePrice']

In [379]:
full_data.head()

,MSSubClass,MSZoning,LotFrontage,Neighborhood,HouseStyle,RoofStyle,Exterior1st,MasVnrType,ExterQual,Foundation,...,HeatingQC,2ndFlrSF,GrLivArea,BsmtFullBath,KitchenQual,Fireplaces,GarageType,MiscVal,SaleCondition,SalePrice
0,60,RL,65,CollgCr,2Story,Gable,VinylSd,BrkFace,Gd,PConc,...,Ex,854,1710,1,Gd,0,Attchd,0,Normal,208500
1,20,RL,80,Veenker,1Story,Gable,MetalSd,None,TA,CBlock,...,Ex,0,1262,0,TA,1,Attchd,0,Normal,181500
2,60,RL,68,CollgCr,2Story,Gable,VinylSd,BrkFace,Gd,PConc,...,Ex,866,1786,1,Gd,1,Attchd,0,Normal,223500
3,70,RL,60,Crawfor,2Story,Gable,Wd Sdng,None,TA,BrkTil,...,Gd,756,1717,1,Gd,1,Detchd,0,Abnorml,140000
4,60,RL,84,NoRidge,2Story,Gable,VinylSd,BrkFace,Gd,PConc,...,Ex,1053,2198,1,Gd,1,Attchd,0,Normal,250000

In [380]:
df = full_data
df.head()
for col in df.columns:
    print(col)

MSSubClass
MSZoning
LotFrontage
Neighborhood
HouseStyle
RoofStyle
Exterior1st
MasVnrType
ExterQual
Foundation
BsmtFinSF1
HeatingQC
2ndFlrSF
GrLivArea
BsmtFullBath
KitchenQual
Fireplaces
GarageType
MiscVal
SaleCondition
SalePrice

In [381]:
str_cols = []
for i in df.columns:
    if df[i].dtype == object and i != 'LotFrontage':
        str_cols.append(i)

In [382]:
df[str_cols]

,MSZoning,Neighborhood,HouseStyle,RoofStyle,Exterior1st,MasVnrType,ExterQual,Foundation,HeatingQC,KitchenQual,GarageType,SaleCondition
0,RL,CollgCr,2Story,Gable,VinylSd,BrkFace,Gd,PConc,Ex,Gd,Attchd,Normal
1,RL,Veenker,1Story,Gable,MetalSd,None,TA,CBlock,Ex,TA,Attchd,Normal
2,RL,CollgCr,2Story,Gable,VinylSd,BrkFace,Gd,PConc,Ex,Gd,Attchd,Normal
3,RL,Crawfor,2Story,Gable,Wd Sdng,None,TA,BrkTil,Gd,Gd,Detchd,Abnorml
4,RL,NoRidge,2Story,Gable,VinylSd,BrkFace,Gd,PConc,Ex,Gd,Attchd,Normal
...,...,...,...,...,...,...,...,...,...,...,...,...
1455,RL,Gilbert,2Story,Gable,VinylSd,None,TA,PConc,Ex,TA,Attchd,Normal
1456,RL,NWAmes,1Story,Gable,Plywood,Stone,TA,CBlock,TA,TA,Attchd,Normal
1457,RL,Crawfor,2Story,Gable,CemntBd,None,Ex,Stone,Ex,Gd,Attchd,Normal
1458,RL,NAmes,1Story,Hip,MetalSd,None,TA,CBlock,Gd,Gd,Attchd,Normal
1459,RL,Edwards,1Story,Gable,HdBoard,None,Gd,CBlock,Gd,TA,Attchd,Normal

In [383]:
df

,MSSubClass,MSZoning,LotFrontage,Neighborhood,HouseStyle,RoofStyle,Exterior1st,MasVnrType,ExterQual,Foundation,...,HeatingQC,2ndFlrSF,GrLivArea,BsmtFullBath,KitchenQual,Fireplaces,GarageType,MiscVal,SaleCondition,SalePrice
0,60,RL,65,CollgCr,2Story,Gable,VinylSd,BrkFace,Gd,PConc,...,Ex,854,1710,1,Gd,0,Attchd,0,Normal,208500
1,20,RL,80,Veenker,1Story,Gable,MetalSd,None,TA,CBlock,...,Ex,0,1262,0,TA,1,Attchd,0,Normal,181500
2,60,RL,68,CollgCr,2Story,Gable,VinylSd,BrkFace,Gd,PConc,...,Ex,866,1786,1,Gd,1,Attchd,0,Normal,223500
3,70,RL,60,Crawfor,2Story,Gable,Wd Sdng,None,TA,BrkTil,...,Gd,756,1717,1,Gd,1,Detchd,0,Abnorml,140000
4,60,RL,84,NoRidge,2Story,Gable,VinylSd,BrkFace,Gd,PConc,...,Ex,1053,2198,1,Gd,1,Attchd,0,Normal,250000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1455,60,RL,62,Gilbert,2Story,Gable,VinylSd,None,TA,PConc,...,Ex,694,1647,0,TA,1,Attchd,0,Normal,175000
1456,20,RL,85,NWAmes,1Story,Gable,Plywood,Stone,TA,CBlock,...,TA,0,2073,1,TA,2,Attchd,0,Normal,210000
1457,70,RL,66,Crawfor,2Story,Gable,CemntBd,None,Ex,Stone,...,Ex,1152,2340,0,Gd,2,Attchd,2500,Normal,266500
1458,20,RL,68,NAmes,1Story,Hip,MetalSd,None,TA,CBlock,...,Gd,0,1078,1,Gd,0,Attchd,0,Normal,142125
1459,20,RL,75,Edwards,1Story,Gable,HdBoard,None,Gd,CBlock,...,Gd,0,1256,1,TA,0,Attchd,0,Normal,147500

In [384]:
for i in str_cols:
    print(f"\n\n{i}")
    print('--------')
    print(df[[i, 'SalePrice']].groupby(i).describe()[[('SalePrice', 'count'), ('SalePrice', 'mean')]])

MSZoning
--------
         SalePrice
             count           mean
MSZoning
C (all)       10.0   74528.000000
FV            65.0  214014.061538
RH            16.0  131558.375000
RL          1151.0  191004.994787
RM           218.0  126316.830275


Neighborhood
--------
             SalePrice
                 count           mean
Neighborhood
Blmngtn           17.0  194870.882353
Blueste            2.0  137500.000000
BrDale            16.0  104493.750000
BrkSide           58.0  124834.051724
ClearCr           28.0  212565.428571
CollgCr          150.0  197965.773333
Crawfor           51.0  210624.725490
Edwards          100.0  128219.700000
Gilbert           79.0  192854.506329
IDOTRR            37.0  100123.783784
MeadowV           17.0   98576.470588
Mitchel           49.0  156270.122449
NAmes            225.0  145847.080000
NPkVill            9.0  142694.444444
NWAmes            73.0  189050.068493
NoRidge           41.0  335295.317073
NridgHt           77.0  316270.623377
OldTown          113.0  128225.300885
SWISU             25.0  142591.360000
Sawyer            74.0  136793.135135
SawyerW           59.0  186555.796610
Somerst           86.0  225379.837209
StoneBr           25.0  310499.000000
Timber            38.0  242247.447368
Veenker           11.0  238772.727273


HouseStyle
--------
           SalePrice
               count           mean
HouseStyle
1.5Fin         154.0  143116.740260
1.5Unf          14.0  110150.000000
1Story         726.0  175985.477961
2.5Fin           8.0  220000.000000
2.5Unf          11.0  157354.545455
2Story         445.0  210051.764045
SFoyer          37.0  135074.486486
SLvl            65.0  166703.384615


RoofStyle
--------
          SalePrice
              count           mean
RoofStyle
Flat           13.0  194690.000000
Gable        1141.0  171483.956179
Gambrel        11.0  148909.090909
Hip           286.0  218876.933566
Mansard         7.0  180568.428571
Shed            2.0  225000.000000


Exterior1st
--------
            SalePrice
                count           mean
Exterior1st
AsbShng          20.0  107385.550000
AsphShn           1.0  100000.000000
BrkComm           2.0   71000.000000
BrkFace          50.0  194573.000000
CBlock            1.0  105000.000000
CemntBd          61.0  231690.655738
HdBoard         222.0  163077.450450
ImStucc           1.0  262000.000000
MetalSd         220.0  149422.177273
Plywood         108.0  175942.379630
Stone             2.0  258500.000000
Stucco           25.0  162990.000000
VinylSd         515.0  213732.900971
Wd Sdng         206.0  149841.645631
WdShing          26.0  150655.076923


MasVnrType
--------
           SalePrice
               count           mean
MasVnrType
BrkCmn          15.0  146318.066667
BrkFace        445.0  204691.871910
None           872.0  156958.243119
Stone          128.0  265583.625000


ExterQual
--------
          SalePrice
              count           mean
ExterQual
Ex             52.0  367360.961538
Fa             14.0   87985.214286
Gd            488.0  231633.510246
TA            906.0  144341.313466


Foundation
--------
           SalePrice
               count           mean
Foundation
BrkTil         146.0  132291.075342
CBlock         634.0  149805.714511
PConc          647.0  225230.442040
Slab            24.0  107365.625000
Stone            6.0  165959.166667
Wood             3.0  185666.666667


HeatingQC
--------
          SalePrice
              count           mean
HeatingQC
Ex            741.0  214914.429150
Fa             49.0  123919.489796
Gd            241.0  156858.871369
Po              1.0   87000.000000
TA            428.0  142362.876168


KitchenQual
--------
            SalePrice
                count           mean
KitchenQual
Ex              100.0  328554.670000
Fa               39.0  105565.205128
Gd              586.0  212116.023891
TA              735.0  139962.511565


GarageType
--------
           SalePrice
               count           mean
GarageType
2Types           6.0  151283.333333
Attchd         870.0  202892.656322
Basment         19.0  160570.684211
BuiltIn         88.0  254751.738636
CarPort          9.0  109962.111111
Detchd         387.0  134091.162791
None            81.0  103317.283951


SaleCondition
--------
              SalePrice
                  count           mean
SaleCondition
Abnorml           101.0  146526.623762
AdjLand             4.0  104125.000000
Alloca             12.0  167377.416667
Family             20.0  149600.000000
Normal           1198.0  175202.219533
Partial           125.0  272291.752000

In [385]:
df_n = df[[i for i in df.columns if i not in str_cols]]

In [386]:
cl_d = df_n.T.apply(lambda x: x.unique().__len__(), axis=1)

In [387]:
cat_cols = cl_d[cl_d < 100].index

In [388]:
for i in cat_cols:
    print(i)
    print('--------')
    print(df[[i, 'SalePrice']].groupby(i).describe()[[('SalePrice', 'count'), ('SalePrice', 'mean')]])

MSSubClass
--------
           SalePrice
               count           mean
MSSubClass
20             536.0  185224.811567
30              69.0   95829.724638
40               4.0  156125.000000
45              12.0  108591.666667
50             144.0  143302.972222
60             299.0  239948.501672
70              60.0  166772.416667
75              16.0  192437.500000
80              58.0  169736.551724
85              20.0  147810.000000
90              52.0  133541.076923
120             87.0  200779.080460
160             63.0  138647.380952
180             10.0  102300.000000
190             30.0  129613.333333
BsmtFullBath
--------
             SalePrice
                 count           mean
BsmtFullBath
0                856.0  165521.640187
1                588.0  202522.918367
2                 15.0  213063.066667
3                  1.0  179000.000000
Fireplaces
--------
           SalePrice
               count           mean
Fireplaces
0              690.0  141331.482609
1              650.0  211843.909231
2              115.0  240588.539130
3                5.0  252000.000000
MiscVal
--------
        SalePrice
            count           mean
MiscVal
0          1408.0  181964.703835
54            1.0   55993.000000
350           1.0  200000.000000
400          11.0  148940.909091
450           4.0  116437.500000
480           2.0  152500.000000
500           8.0  169300.000000
560           1.0   81000.000000
600           4.0  123350.000000
620           1.0   88000.000000
700           5.0  169890.000000
800           1.0  110000.000000
1150          1.0  256000.000000
1200          2.0  122750.000000
1300          1.0  160000.000000
1400          1.0  163000.000000
2000          4.0  202450.000000
2500          1.0  266500.000000
3500          1.0   55000.000000
8300          1.0  190000.000000
15500         1.0  151500.000000

In [389]:
cat_cols

Index(['MSSubClass', 'BsmtFullBath', 'Fireplaces', 'MiscVal'], dtype='object')

In [390]:
df = full_data
cols_to_drop = ["MSSubClass","MSZoning","SaleCondition"]
df = df.drop(cols_to_drop, axis=1)
str_cols = ['Neighborhood',
 'HouseStyle',
 'RoofStyle',
 'Exterior1st',
 'MasVnrType',
 'ExterQual',
 'Foundation',
 'HeatingQC',
 'KitchenQual',
 'GarageType']
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
for i in str_cols:
    le.fit_transform(df[i])
    df[i] = le.transform(df[i])
df=df.fillna(0)

In [391]:
df

,LotFrontage,Neighborhood,HouseStyle,RoofStyle,Exterior1st,MasVnrType,ExterQual,Foundation,BsmtFinSF1,HeatingQC,2ndFlrSF,GrLivArea,BsmtFullBath,KitchenQual,Fireplaces,GarageType,MiscVal,SalePrice
0,65,5,5,1,12,1,2,2,706,0,854,1710,1,2,0,1,0,208500
1,80,24,2,1,8,2,3,1,978,0,0,1262,0,3,1,1,0,181500
2,68,5,5,1,12,1,2,2,486,0,866,1786,1,2,1,1,0,223500
3,60,6,5,1,13,2,3,0,216,2,756,1717,1,2,1,5,0,140000
4,84,15,5,1,12,1,2,2,655,0,1053,2198,1,2,1,1,0,250000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1455,62,8,5,1,12,2,3,2,0,0,694,1647,0,3,1,1,0,175000
1456,85,14,2,1,9,3,3,1,790,4,0,2073,1,3,2,1,0,210000
1457,66,6,5,1,5,2,0,4,275,0,1152,2340,0,2,2,1,2500,266500
1458,68,12,2,3,8,2,3,1,49,2,0,1078,1,2,0,1,0,142125
1459,75,7,2,1,6,2,2,1,830,2,0,1256,1,3,0,1,0,147500

In [392]:
X, Y = train_test_split(df, test_size=0.2)

In [393]:
X.to_csv('data/train.csv', index=False)
Y.to_csv('data/val.csv', index=False)

In [395]:
train = pd.read_csv(TRAIN_CSV, header = 0, dtype={'Age': np.float64})
val  = pd.read_csv(VAL_CSV , header = 0, dtype={'Age': np.float64})
full_data = [train, val]

train.head()

,LotFrontage,Neighborhood,HouseStyle,RoofStyle,Exterior1st,MasVnrType,ExterQual,Foundation,BsmtFinSF1,HeatingQC,2ndFlrSF,GrLivArea,BsmtFullBath,KitchenQual,Fireplaces,GarageType,MiscVal,SalePrice
0,85.0,23,5,1,12,2,2,2,0,0,915,1908,0,2,0,1,0,202900
1,None,15,5,1,8,2,2,2,1012,0,1168,2520,1,2,1,1,0,310000
2,24.0,21,5,3,8,2,2,2,604,0,720,1416,1,2,0,5,0,155000
3,85.0,9,0,1,5,2,3,1,0,4,520,1517,0,1,0,6,0,115000
4,70.0,12,2,1,6,2,3,1,432,4,0,864,0,3,1,6,0,115000

In [396]:
X.corr()

,Neighborhood,HouseStyle,RoofStyle,Exterior1st,MasVnrType,ExterQual,Foundation,BsmtFinSF1,HeatingQC,2ndFlrSF,GrLivArea,BsmtFullBath,KitchenQual,Fireplaces,GarageType,MiscVal,SalePrice
Neighborhood,1.000000,0.055062,0.102249,-0.063752,0.087876,-0.177259,0.099961,0.125410,-0.065080,0.031960,0.152209,0.072479,-0.125734,0.045349,-0.128574,-0.010029,0.234458
HouseStyle,0.055062,1.000000,-0.012603,-0.028817,-0.146734,-0.111069,0.219137,0.028809,-0.072701,0.477806,0.259172,0.049980,-0.076559,0.112281,-0.135956,-0.032178,0.183716
RoofStyle,0.102249,-0.012603,1.000000,-0.050762,-0.076286,-0.188632,0.042949,0.195603,-0.027948,-0.071565,0.150281,0.109081,-0.110445,0.102287,-0.086243,0.050811,0.227012
Exterior1st,-0.063752,-0.028817,-0.050762,1.000000,0.031494,-0.116933,0.116527,-0.084034,-0.247397,0.073646,0.058773,-0.023623,-0.095338,0.005165,0.002884,-0.020305,0.085797
MasVnrType,0.087876,-0.146734,-0.076286,0.031494,1.000000,-0.076398,0.009426,-0.004419,-0.062495,-0.066004,-0.057811,0.011232,-0.114248,-0.039601,0.136074,-0.000702,0.008960
ExterQual,-0.177259,-0.111069,-0.188632,-0.116933,-0.076398,1.000000,-0.417611,-0.213136,0.440693,-0.166954,-0.431789,-0.114090,0.656735,-0.243585,0.276574,0.013127,-0.648121
Foundation,0.099961,0.219137,0.042949,0.116527,0.009426,-0.417611,1.000000,0.107321,-0.368730,0.120012,0.242102,0.059021,-0.323002,0.097199,-0.357359,-0.013603,0.397322
BsmtFinSF1,0.125410,0.028809,0.195603,-0.084034,-0.004419,-0.213136,0.107321,1.000000,-0.045769,-0.114485,0.225626,0.638833,-0.210564,0.266378,-0.276897,0.005540,0.375383
HeatingQC,-0.065080,-0.072701,-0.027948,-0.247397,-0.062495,0.440693,-0.368730,-0.045769,1.000000,-0.147171,-0.241803,-0.055589,0.394949,-0.138142,0.191930,0.039145,-0.405224
2ndFlrSF,0.031960,0.477806,-0.071565,0.073646,-0.066004,-0.166954,0.120012,-0.114485,-0.147171,1.000000,0.684463,-0.145051,-0.141361,0.205541,0.027844,-0.018468,0.329458
GrLivArea,0.152209,0.259172,0.150281,0.058773,-0.057811,-0.431789,0.242102,0.225626,-0.241803,0.684463,1.000000,0.054258,-0.390733,0.471157,-0.253200,-0.027390,0.712947
BsmtFullBath,0.072479,0.049980,0.109081,-0.023623,0.011232,-0.114090,0.059021,0.638833,-0.055589,-0.145051,0.054258,1.000000,-0.131973,0.142120,-0.177448,-0.018415,0.225048
KitchenQual,-0.125734,-0.076559,-0.110445,-0.095338,-0.114248,0.656735,-0.323002,-0.210564,0.394949,-0.141361,-0.390733,-0.131973,1.000000,-0.247064,0.206153,0.039300,-0.588124
Fireplaces,0.045349,0.112281,0.102287,0.005165,-0.039601,-0.243585,0.097199,0.266378,-0.138142,0.205541,0.471157,0.142120,-0.247064,1.000000,-0.321835,-0.000526,0.469986
GarageType,-0.128574,-0.135956,-0.086243,0.002884,0.136074,0.276574,-0.357359,-0.276897,0.191930,0.027844,-0.253200,-0.177448,0.206153,-0.321835,1.000000,-0.016048,-0.422015
MiscVal,-0.010029,-0.032178,0.050811,-0.020305,-0.000702,0.013127,-0.013603,0.005540,0.039145,-0.018468,-0.027390,-0.018415,0.039300,-0.000526,-0.016048,1.000000,-0.016425
SalePrice,0.234458,0.183716,0.227012,0.085797,0.008960,-0.648121,0.397322,0.375383,-0.405224,0.329458,0.712947,0.225048,-0.588124,0.469986,-0.422015,-0.016425,1.000000

In [397]:
df = df.fillna('')

In [398]:
df[str_cols].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1460 entries, 0 to 1459
Data columns (total 10 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Neighborhood  1460 non-null   int32
 1   HouseStyle    1460 non-null   int32
 2   RoofStyle     1460 non-null   int32
 3   Exterior1st   1460 non-null   int32
 4   MasVnrType    1460 non-null   int32
 5   ExterQual     1460 non-null   int32
 6   Foundation    1460 non-null   int32
 7   HeatingQC     1460 non-null   int32
 8   KitchenQual   1460 non-null   int32
 9   GarageType    1460 non-null   int32
dtypes: int32(10)
memory usage: 57.2 KB

In [399]:
df.columns

Index(['LotFrontage', 'Neighborhood', 'HouseStyle', 'RoofStyle', 'Exterior1st',
       'MasVnrType', 'ExterQual', 'Foundation', 'BsmtFinSF1', 'HeatingQC',
       '2ndFlrSF', 'GrLivArea', 'BsmtFullBath', 'KitchenQual', 'Fireplaces',
       'GarageType', 'MiscVal', 'SalePrice'],
      dtype='object')

In [400]:
Y = df.SalePrice
X = df.drop('SalePrice', axis=1)

In [401]:
from sklearn.model_selection import cross_val_score

In [402]:
X.head()

,LotFrontage,Neighborhood,HouseStyle,RoofStyle,Exterior1st,MasVnrType,ExterQual,Foundation,BsmtFinSF1,HeatingQC,2ndFlrSF,GrLivArea,BsmtFullBath,KitchenQual,Fireplaces,GarageType,MiscVal
0,65,5,5,1,12,1,2,2,706,0,854,1710,1,2,0,1,0
1,80,24,2,1,8,2,3,1,978,0,0,1262,0,3,1,1,0
2,68,5,5,1,12,1,2,2,486,0,866,1786,1,2,1,1,0
3,60,6,5,1,13,2,3,0,216,2,756,1717,1,2,1,5,0
4,84,15,5,1,12,1,2,2,655,0,1053,2198,1,2,1,1,0

In [403]:
np.mean(cross_val_score(clf, X, Y, cv=10))

NameError: name 'clf' is not defined