In [1]:
import numpy as np
import pandas as pd
import re as re
from settings.constants import *
from sklearn.model_selection import train_test_split

In [2]:
train = pd.read_csv(TRAIN_CSV, header = 0, dtype={'Age': np.float64})
val  = pd.read_csv(VAL_CSV, header = 0, dtype={'Age': np.float64})
print(TRAIN_CSV)

train.head()

data\train.csv

,MSSubClass,MSZoning,LotFrontage,Neighborhood,HouseStyle,RoofStyle,Exterior1st,MasVnrType,ExterQual,Foundation,...,HeatingQC,2ndFlrSF,GrLivArea,BsmtFullBath,KitchenQual,Fireplaces,GarageType,MiscVal,SaleCondition,SalePrice
0,20,RL,70.0,NAmes,1Story,Gable,MetalSd,None,TA,CBlock,...,TA,0,1314,1,TA,0,Attchd,0,Normal,145000
1,60,RL,59.0,Gilbert,2Story,Gable,VinylSd,None,Gd,PConc,...,Gd,772,1571,0,TA,1,Attchd,0,Normal,178000
2,30,RL,67.0,Edwards,1Story,Gable,MetalSd,None,TA,CBlock,...,Gd,0,796,0,TA,0,None,0,Normal,85000
3,50,RL,60.0,SWISU,1.5Fin,Gable,Wd Sdng,BrkFace,TA,BrkTil,...,Ex,787,1768,1,Gd,2,Detchd,0,Normal,175000
4,50,RL,50.0,SWISU,1.5Fin,Gable,BrkFace,None,TA,BrkTil,...,TA,665,1691,0,Gd,1,Detchd,0,Normal,127000

In [3]:
from utils.dataloader import DataLoader
from utils.dataset import Dataset
from utils.trainer import Estimator
from utils.predictor import Predictor

In [4]:
x_train, y_train = Dataset(TRAIN_CSV).get_items(None)

x_train.head()

,MSSubClass,MSZoning,LotFrontage,Neighborhood,HouseStyle,RoofStyle,Exterior1st,MasVnrType,ExterQual,Foundation,BsmtFinSF1,HeatingQC,2ndFlrSF,GrLivArea,BsmtFullBath,KitchenQual,Fireplaces,GarageType,MiscVal,SaleCondition
0,20,RL,70.0,NAmes,1Story,Gable,MetalSd,None,TA,CBlock,922,TA,0,1314,1,TA,0,Attchd,0,Normal
1,60,RL,59.0,Gilbert,2Story,Gable,VinylSd,None,Gd,PConc,0,Gd,772,1571,0,TA,1,Attchd,0,Normal
2,30,RL,67.0,Edwards,1Story,Gable,MetalSd,None,TA,CBlock,0,Gd,0,796,0,TA,0,None,0,Normal
3,50,RL,60.0,SWISU,1.5Fin,Gable,Wd Sdng,BrkFace,TA,BrkTil,569,Ex,787,1768,1,Gd,2,Detchd,0,Normal
4,50,RL,50.0,SWISU,1.5Fin,Gable,BrkFace,None,TA,BrkTil,218,TA,665,1691,0,Gd,1,Detchd,0,Normal

In [5]:
x_test, y_test = Dataset(VAL_CSV).get_items(None)

In [6]:
dl = DataLoader()
dl.fit(x_train)
x_train = dl.load_data()

In [7]:
dl.fit(x_test)
x_test = dl.load_data()

x_train.head()

,LotFrontage,Neighborhood,HouseStyle,RoofStyle,Exterior1st,MasVnrType,ExterQual,Foundation,BsmtFinSF1,HeatingQC,2ndFlrSF,GrLivArea,BsmtFullBath,KitchenQual,Fireplaces,GarageType,MiscVal
0,70.0,12,2,1,8,2,3,1,922,4,0,1314,1,3,0,1,0
1,59.0,8,5,1,12,2,2,2,0,2,772,1571,0,3,1,1,0
2,67.0,7,2,1,8,2,3,1,0,2,0,796,0,3,0,6,0
3,60.0,18,0,1,13,1,3,0,569,0,787,1768,1,2,2,5,0
4,50.0,18,0,1,3,2,3,0,218,4,665,1691,0,2,1,5,0

In [8]:
from sklearn.ensemble import RandomForestRegressor

In [9]:
# model = RandomForestRegressor().fit(x_train, y_train)
model = Estimator().fit(x_train, y_train)

In [10]:
import pickle
with open('models/model.pickle', 'wb')as f:
    pickle.dump(model, f)

In [11]:
model.score(x_test, y_test)

0.8523446057293507

In [12]:
model.score(x_train, y_train)

0.9743697646445197

In [13]:
Predictor().predict(x_test)

array([138988.        , 308778.16      , 106206.49      , 182001.        ,
       276637.26      ,  95884.5       , 223452.94      , 144498.35      ,
        79807.5       , 113584.        , 134024.5       , 119535.5       ,
       105377.        , 202788.55      , 164736.        , 138208.        ,
       200877.5       , 145039.        , 101998.83      , 233655.22      ,
       168819.8       , 193400.75      , 177292.41      , 117620.        ,
       188238.53      , 182434.65      , 184140.29      , 106886.        ,
       164015.87      , 198753.69      , 109343.35      , 259083.5       ,
       276898.2       , 111511.5       , 246261.99      , 147769.        ,
       147073.84      , 204178.6       , 298881.81      , 109048.16666667,
       114809.83      , 241730.45      , 116908.08      , 357308.21      ,
       134477.1       , 135480.13      , 117102.5       , 134687.5       ,
       409479.99      , 149260.34      , 127250.25      , 191332.        ,
       109969.14      , 390946.77      , 143382.46666667, 322105.68      ,
       210036.14      , 151040.5       , 125953.16      , 105573.41666667,
        76852.5       , 121395.25      , 285203.7       , 267631.36      ,
       243217.82      , 215994.        , 102492.89666667, 306060.85      ,
       113955.25      , 151207.        , 134356.63      , 144929.75      ,
       116361.6       , 104487.4       , 446333.14      , 179699.9       ,
       297070.9       , 353877.49      , 112393.75      , 109692.83      ,
        99048.5       , 103697.66666667, 126382.        , 109932.        ,
       151774.82      , 164860.        , 238693.15      , 188223.5       ,
       139685.75      , 175036.39      , 132107.98      , 161916.        ,
       115055.33      , 297272.43      , 126011.61      , 179865.7       ,
       184742.03      , 166230.07      , 198514.48      , 302208.88      ,
       174871.        , 208672.75      , 246845.47      , 104342.        ,
       169238.1       , 143685.84      , 123798.33      , 292428.36      ,
       126678.33      , 203582.3       , 101969.        , 121234.66      ,
       130330.        , 164543.        , 210088.43      , 114796.66      ,
       109344.14      , 110344.        , 139047.52      , 253993.5       ,
       114093.        , 143382.46666667, 166309.        , 169982.11      ,
       174426.56      , 121095.        , 226997.        , 105006.5       ,
       150062.5       , 180143.        , 185434.52      , 350602.84      ,
       189181.21      , 139828.58      ,  78820.5       , 329918.04      ,
       363444.77      , 113136.        , 252162.44      , 561405.6       ,
       401507.19      , 117673.        , 187014.69      , 153183.05      ,
       150152.        , 137681.        , 235158.38      , 185522.06      ,
       112664.43      ,  90057.        , 122288.89      , 155959.5       ,
       347695.24      , 162649.        , 108789.08      , 140581.87      ,
       159545.35      , 151174.25      ,  98008.5       , 149082.25      ,
       188957.48      , 126445.05      , 295239.18      , 167670.        ,
       130978.65      , 130545.12      , 218273.45      , 340056.6       ,
       430498.5       , 211773.        , 345439.72      , 107544.46666667,
       130464.36      , 189700.        , 300503.91      , 152886.11      ,
       142926.18      , 229312.53      , 126960.04      , 175269.83      ,
       124485.5       , 146938.4       , 114871.83      , 133510.06      ,
       251532.7       , 133458.45      , 297104.88      , 225891.28      ,
       198276.06      ,  92893.95      , 123806.05      , 107660.32666667,
       148394.95      , 142775.25      , 215601.12      , 197639.7       ,
       214337.87      , 108539.        , 207478.63      , 124915.        ,
       193151.5       , 156951.4       , 118668.87      , 296774.        ,
       192980.5       , 119276.        , 245409.79      , 143342.        ,
       151801.14      , 114375.5       , 261414.17      , 150105.5       ,
       143532.84      , 149754.        , 189089.5       , 237886.74      ,
       185047.93666667, 143260.25      , 164771.82      , 137434.37      ,
       134542.5       , 201101.46      , 217295.8       , 112766.95      ,
       225777.76      , 148621.5       , 105251.        , 104318.33      ,
       158610.        , 104285.16666667, 108558.26666667, 173588.82      ,
       118411.5       , 161628.        , 214762.22      , 127328.66      ,
       183450.44      , 136638.5       , 245672.57      , 121424.5       ,
        76709.5       , 300785.22      , 202428.64      , 315922.59      ,
       204668.06      , 141641.24      , 158432.35      , 155885.75      ,
       121704.        , 100978.83      , 209740.1       , 180978.01      ,
       166516.48      ,  92458.        , 144940.        , 135165.25      ,
       120447.33      , 112959.        , 184746.52      , 255522.63      ,
       260315.35      , 179232.56      , 119497.        , 279577.64      ,
       335698.61      , 255291.6       , 170468.        , 141734.36666667,
       105903.83      , 158895.63      , 393230.76      , 208112.6       ,
       257297.19      ,  95243.        , 128859.07      , 132385.1       ,
       168258.2       , 292387.43      , 218935.        , 162460.        ,
       208252.35      , 100403.66      , 189279.55      , 120565.04      ,
       323914.7       , 156216.55      , 211838.4       , 113034.75      ,
       253386.34      , 180165.72      , 159602.5       , 113188.76666667])